<h1 class="text-2xl font-bold mb-4">Streams</h1>

<table class="min-w-full bg-white">
  <thead>
    <tr>
      <th class="px-4 py-2 text-left">Title</th>
      <th class="px-4 py-2 text-left">Channel</th>
      <th class="px-4 py-2 text-left">Status</th>
      <th class="px-4 py-2 text-left">Visibility</th>
      <th class="px-4 py-2 text-left">Scheduled</th>
      <th class="px-4 py-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @streams.each do |s| %>
      <tr class="border-t">
        <td class="px-4 py-2"><%= link_to s.title, admin_stream_path(s) %></td>
        <td class="px-4 py-2"><%= s.youtube_channel&.name %></td>
        <td class="px-4 py-2"><%= s.status.titleize %></td>
        <td class="px-4 py-2"><%= s.visibility.titleize %></td>
        <td class="px-4 py-2"><%= s.scheduled_at_local&.strftime("%b %d, %H:%M") %></td>
        <td class="px-4 py-2 text-right">
          <%= link_to "Edit", edit_admin_stream_path(s), class: "text-sm text-blue-600" %>
          <%= link_to "Delete", admin_stream_path(s), method: :delete, data: { confirm: "Are you sure?" }, class: "text-sm text-red-600 ml-3" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4">
  <%= paginate @streams %>
</div>
