<!DOCTYPE html>
<html class="h-full bg-gray-900" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= content_for?(:title) ? yield(:title) : "Stream Orchestrator" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="h-full">
    <%= yield %>
  </body>
</html>
